/* Style */
.App {
  text-align: center;
}

.container{
  width: 100%;
  height: 100vh;
}

body {
  font-family: 'nanumsquare';
}

/* 상단 (TOD 연결 상태, AI Version 선택, 경고기능 작동 여부, 경고기능 시간 설정) */
.top-area {
  background: black;
  width: 98%;
  height: 25px;
  padding: 1%;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}

.top-element {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
}

/* TOD 연결 상태 및 상태 박스들 (color 제어 용도) */
.state-box {
  background: red;
  width: 130px;
}
.red {
  background: red;
  width: 100px;
}
.orange {
  background: orange;
}
.green {
  background: greenyellow;
}

/* 입력 박스 */
.input-box {
  width: 50px;
  font-weight: bold;
  font-size: 17px;
  align-items: center;
}

/* 입력 버튼 */
.input-btn {
  width: 70px;
  height: 26px;
  margin-right: 2%;
  cursor: pointer;
}
.input-btn:hover {
  background: gray;
}

/* AI Version 선택 dropdown */
.dropdown {
  width: 150px;
  user-select: none;
  position: relative;
}
.dropdown .dropdown-btn {
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 3px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  font-size: 20px;
  color: #333;
  width: 95%;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: gray;
}

/* 중단 (영상 재생, 상황 목록 출력) */
.mid-area {
  background: gray;
  width: 98%;
  height: 697px;
  padding: 1%;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
}

.mid-video {
  width:70%;
  height:697px;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid double solid double;
}

.mid-log {
  width:30%;
  height:697px;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid double solid double;
}

/* 하단 (영상 정보, 검출 객체, 상황 정보) */
.bottom-area {
  background: black;
  width: 98%;
  height: 100px;
  padding: 1%;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
}

.bottom-display {
  width:30%;
  height:100px;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid double solid double;
}

.bottom-object {
  width:50%;
  height:100px;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid double solid double;
}

.bottom-state {
  width:20%;
  height:100px;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid double solid double;
}
